# Firebase Phone Authentication
VITE_FIREBASE_API_KEY=""
VITE_FIREBASE_AUTH_DOMAIN=""
VITE_FIREBASE_PROJECT_ID=""
VITE_FIREBASE_STORAGE_BUCKET=""
VITE_FIREBASE_MESSAGING_SENDER_ID=""
VITE_FIREBASE_APP_ID=""

# Optional API Keys
GEMINI_API_KEY="MY_GEMINI_API_KEY"
APP_URL="MY_APP_URL"

# Razorpay Payment Gateway (Test Mode)
VITE_RAZORPAY_KEY_ID="rzp_test_TdXozn1nc2ovgN"
RAZORPAY_KEY_SECRET="NADefjkOpRwFfLKNclgGXdZ8"



